

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}



.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.director {
  padding: 1em 0 1em 0
}

.director > span{
  padding: 1em 0 1em 1em
}

.add {
  padding: 3em 0 0 0
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
